## Q1. What are the characteristics of the tuples? Is tuple immutable?

1. Ordered collection
2. Can be Indexed
3. Immutable 
4. Can store duplicate elements
5. Can store different data types inside tuple. (like - int, float, string, list, tuple, etc)
6. Slicing Operation can be done on tuples
7. Tuples can be created using ( )

Yes Tuple is immutable

## Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.

Two Tuple Methods as follow - 
1. count()
2. index()

Example for count() Method -

In [12]:
tup1 = (1,2,3,4,5,1,1,2,1,100,2,3,4,5,2)

In [13]:
print(tup1)

(1, 2, 3, 4, 5, 1, 1, 2, 1, 100, 2, 3, 4, 5, 2)

In [33]:
## Count method takes 1 argument & return number of times given element occured in tuple
print('Number of times 1 occured: ',tup1.count(1))

print('Number of times 3 occured: ',tup1.count(3))

Number of times 1 occured:  4
Number of times 3 occured:  2

Example for index() Method -

In [23]:
tup1 = (1,2,3,4,5,1,1,2,1,100,2,3,4,5,2)
print(tup1)

(1, 2, 3, 4, 5, 1, 1, 2, 1, 100, 2, 3, 4, 5, 2)

In [25]:
## index function return the index of first occurance of given value
tup1.index(2)

1

In [26]:
# we can also give start & stop arguments
tup1.index(2,4)

7

In [32]:
# here we can see as we specified start index 6 & stop as 10,
# and 1 is present at indexes - 0,5,6,8
# we are getting output as 6 because we specify the start from 6th index
tup1.index(1,6,10)

6

Reason of only two in-built methods for tuple as compared to list is -
1. As tuples are immutable, so we are not allowed to alter/modify the tuples. This is one of reason we don't in built methods for tuple which modify tuples. We have only two mothodes
2. Since List are mutable, List have more in built methods than tuples. Methods which can modify list.

## Q3.  Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove duplicates from the given list.

## List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

SET collection type in python do not allows duplicate items.

In [37]:
lst = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

print(lst)

[1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [41]:
# As set does not allow duplicate items, so we can just convert list to set, duplicates will be removed automatically and 
# then we can store result back in new list
set1 = set(lst)

list_without_duplicates = list(set1)

print(list_without_duplicates)

[1, 2, 3, 4]

## Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.

union() vs update() Method in SET - 
1. union returns the new set with union of sets i.e combines all elements from both sets return as new set object. While update methode updates the old set with the union of set with other mentioned set

In [68]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set3 = {8,9,10,11}
print(set1,'\t',set2,'\t',set3)

{1, 2, 3, 4, 5} 	 {4, 5, 6, 7, 8} 	 {8, 9, 10, 11}

union() Method -

In [69]:
# it wil union set1, set2, set3 and return new set - set4
set4 = set1.union(set2,set3)

print(f' set1 : {set1} \n set2 : {set2} \n set3 : {set3}\n set4 (UNION) : {set4}')

 set1 : {1, 2, 3, 4, 5}
 set2 : {4, 5, 6, 7, 8}
 set3 : {8, 9, 10, 11}
 set4 (UNION) : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

update() Method

In [70]:
# here we will update set1 with union of set1,set2,set3

print(' set1 before update : ',set1)

set1.update(set2,set3)

print(f' set1 after update : {set1} \n set2 : {set2} \n set3 : {set3}')

 set1 before update :  {1, 2, 3, 4, 5}
 set1 after update : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
 set2 : {4, 5, 6, 7, 8}
 set3 : {8, 9, 10, 11}

## Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

Dictionary is collection where data is stored in key:value pairs. Dictionary does not allows duplicate keys. Values in dictionary can be any data type object like (int, string, float, list, tuple, dictionary, set, etc)

Example of dictionary -

In [78]:
dict1 = {'name':'abc','ph_no':987654312,'fav_movies':['Spiderman','Superman']}
print(dict1)

print(type(dict1))

{'name': 'abc', 'ph_no': 987654312, 'fav_movies': ['Spiderman', 'Superman']}
<class 'dict'>

In [79]:
dict1['name']

'abc'

In [80]:
dict1['fav_movies']

['Spiderman', 'Superman']

Dictionary is an ordered collection, as of latest version of python.

## Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

Yes we can create nested dictionary.

Example -

In [83]:
# here value for contact_info is a another dictionary with keys - phone_no & email 
dict2 = {'name':'xyz','contact_info':{'phone_no':9876543210,'email':'xyz@gmail.com'},'fav_movies':'Spiderman'}

print(dict2)

{'name': 'xyz', 'contact_info': {'phone_no': 9876543210, 'email': 'xyz@gmail.com'}, 'fav_movies': 'Spiderman'}

In [84]:
dict2['contact_info']

{'phone_no': 9876543210, 'email': 'xyz@gmail.com'}

In [86]:
# we can see type of value stored for contact_info is dict
type(dict2['contact_info'])

dict

## Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learning’, 'Deep Learning']

In [87]:
dict3 = {'Platform':'PWSkills','mentor':['krish','sudhanshu']}

print(dict3)

{'Platform': 'PWSkills', 'mentor': ['krish', 'sudhanshu']}

In [89]:
dict3.setdefault('topics',['Python', 'Machine Learning', 'Deep Learning'])

['Python', 'Machine Learning', 'Deep Learning']

In [91]:
print(dict3)

{'Platform': 'PWSkills', 'mentor': ['krish', 'sudhanshu'], 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

## Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary.
## dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

Three view objects - 
1. keys - this represent all the keys from the dictionary
2. values - this gives view of all values from the dictionary
3. items - this returns all the key value pairs from the dictionary

In [98]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [99]:
print(dict1.keys())

dict_keys(['Sport', 'Teams'])

In [100]:
print(dict1.values())

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [102]:
print(dict1.items())

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])