## Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function. 

## [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [8]:
lst = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
print(lst)

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [10]:
a = lambda x : x[1]
lst.sort(key=a)
print(lst)
#sorting in ascending order

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

## Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.

## [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
a = lambda x : x**2
new_lst = list(map(a,lst))
print(new_lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions

## Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [18]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
a = lambda x : str(x)

tuple_with_strings = tuple(map(a,lst))

print(tuple_with_strings)

print(type(tuple_with_strings))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')
<class 'tuple'>

## Q4.  Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [35]:
# importing reduce
from functools import reduce

a = lambda x,y : x*y 

result = reduce(a , range(1,26) )
print(result)

15511210043330985984000000

## Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function. [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [36]:
lst = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
lst

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [39]:
a = lambda x : x%2==0 and x%3==0

lst_new = list(filter(a,lst))
lst_new

[6, 60, 90, 120]

## Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function. ['python', 'php', 'aba', 'radar', 'level']

In [40]:
lst = ['python', 'php', 'aba', 'radar', 'level']
lst

['python', 'php', 'aba', 'radar', 'level']

In [41]:
a = lambda x : x[::-1]==x

lst_new = list(filter(a , lst ))
lst_new

['php', 'aba', 'radar', 'level']